body{
    padding:20px;
    margin:20px 60px;
    font-family:Arial;
    font-size: 12px;
    background-color:rgb(162, 203, 239);
}

.principal{
    width: 95%;
    height: 900px;
    background-color: white;
    margin: 20px 20px 20px 20px ;
}

.encabezado1{
    width: 96%;
    height: 100px;
    background-color: D0FA58;
    margin: 20px 20px 20px 20px ;
}

.encabezado2{
    width: 70%;
    height: 100px;
    float: right;
    background-color: D0FA58;
    margin: 20px 20px 20px 20px ;
}

.contenido{
    width: 96%;
    height: 600px;
    background-color: rgb(140, 239, 139);
    margin: 20px 20px 20px 20px ;
    font-size: 8px;
}

.menu{
    width: 20%;
    height: 550px;
    background-color: rgb(226, 138, 223);
    margin: 20px 20px 20px 20px ;
    float: left;
    text-align:left;
    font-size: 16px;
}

.pagina{
    width: 70%;
    height: 400px;
    background-color:aquamarine;
    margin: 20px 20px 20px 20px ;
    float: right;
    text-align:center;
}

.piepagina{
    width: 96%;
    height: 100px;
    background-color: D0FA58;
    margin: 20px 20px 20px 20px ;
    border-color: black;
    border:2px;
    font-family:Arial;
    font-size: 10px;
}